#feedback {
	font-size: 1.4em;
}

.selectable .ui-selecting {
	background: #C0C0C0;
}

.selectable .ui-selected {
	background: #C0C0C0;
	color: black;
}

.selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.selectable li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	height: 18px;
}
