#feedback {
	font-size: 1.4em;
}

.selectable .ui-selecting {
	background: #C0C0C0;
}

.selectable .ui-selected {
	background: #C0C0C0;
	color: black;
}

.selectable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.selectable li {
	margin: 3px;
	padding: 0.4em;
	font-size: 1.4em;
	height: 18px;
}

li:hover {
 background: rgba(0,0,0,0);
 color: #3a7999;
 box-shadow: inset 0 0 0 3px #3a7999;
}

.sortable {
	list-style-type: none; margin: 0; padding: 0; width: 450px;
}

.sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px; float: left;
	width: 120px;
	height: 150px;
	font-size: 1em;
	text-align: center;
}

.tarea {
	display: inline-block;
}
