body {
	min-width: 520px;
}

.column {
	width: 170px;
	float: left;
	padding-bottom: 100px;
}

.portlet {
	margin: 0 1em 1em 0;
	padding: 0.3em;
}

.portlet-header {
	padding: 0.2em 0.3em;
	margin-bottom: 0.5em;
	position: relative;
}

.portlet-toggle {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -8px;
}

.portlet-content {
	font-size: 13px;
	padding: 0.4em;
}

.portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 50px;
}

.topleft-Proyectos {
	position: absolute;
	top: 50px;
	left: 16px;
	font-size: 18px;
}

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 450px;
}

#dialog {
	background-color: lightgrey;
	width: 100px;
	border: 9px solid #0B2161;
	padding: 25px;
	margin: 25px;
}

#celdaSprint {
	width: 150px;
}



#sortable li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 150px;
	height: 150px;
	font-size: 1em;
	text-align: center;
}

.tabs-main {
	height: 600px;
}

#button {
    background-color: #0B3861; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
    margin: 4px 2px;
    cursor: pointer;
}
